.blue{
    background-color: #007bff;
}

.green{
    background-color: #28a745;
}

.yellow{
    background-color: #ffc107;
}

.red{
    background-color: #dc3545;
}

.lightBlue{
    background-color: #17a2b8;
}